body{
    height: 100%;
    margin: 0;
    padding: 0;
}
html{
    font-family: "microsoft yahei", sans-serif;
    height: 100%;
    background-color: #EEEEEE;
}

.header{
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 4px 4px -4px #d2d2d2;
    -moz-box-shadow: 0 4px 4px -4px #d2d2d2;
    box-shadow: 0 4px 4px -4px #d2d2d2;
    background-color: white;
}

.logo{
    height: 30px;
    padding: 10px 50px 10px 10px;
    display: inline-block;
    float: left;
}

.header-nav{
    display: inline-block;
    float: left;
    height: 50px;
    width: 330px;
}

.header-nav a{
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    width: 80px;
    text-align: center;
    color: black;
    font-size: 16px;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.header-nav a:hover{
    color: #03a9f4;
}

.header-tool{
    display: inline-block;
    float: right;
    height: 50px;
    width: 105px;
}
.header-tool div{

    float: left;
    display: block;
    border-left: 1px solid #e2e2e2;
    width: 29px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    margin: 0;
}
.header-user-avatar{
    width: 30px;
    height: 30px;
    /*头像圆角*/
    border-radius: 50%;
}
.tool-pop{
    z-index: 100;
    width: auto;
    height: auto;
}
.tool-pop div{
    z-index: 100;
    background-color: white;
    display: none;
    position: absolute;
    right: 10px;
    width: 200px;
    box-shadow: 0 0 25px #c1c1c1;
    border: 1px solid #e2e2e2;
    outline: none;
}
.tool-pop a{
    text-decoration: none;
    display: block;
    line-height: 40px;
    width: 200px;
    text-align: center;
    font-size: 13px;
    color: #383838;
}
.tool-pop a:hover{
    background-color: #e8e8e8;
}
/*project header*/
.project-header{
    height: 50px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    background-color: #EEEEEE;
    padding-left: 169px;
}
.project-header a{
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    color: black;
    margin-left: 50px;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.project-header a:hover{
    color: #03a9f4;
}
/*project-member*/
.project-member{
    position: fixed;
    right: 0;
    width: 200px;
    top: 52px;
    height: 100%;
    border-left: 1px solid #c1c1c1;
    background-color: white;

    overflow-y: auto;

}

.invite{
    border: 1px solid #c1c1c1;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    height: 25px;
    margin-left: 10px;
}
.invite:focus,
.invite:hover{
    border: 1px solid #c1c1c1;
    outline: none;
}
.member-container{
    margin-left: 10px;
    height: auto;
    white-space: nowrap;

}
.member-container img,
.member-container p{
    display: inline-block;
}
.member-container img{
    height: 30px;
    width: 30px;
    margin: 5px 5px;
    border-radius: 50%;

}
.member-container p{
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-size: 15px;
}