/*定位*/


.location {
  margin: 0 auto;
  width: 600px;
  height: 660px;
  font-family: "microsoft yahei", sans-serif;

}
/*输入框大小*/
.border {
  font-family: "microsoft yahei", sans-serif;

  margin: 0 150px 20px 150px;
  width: 300px;
  height: 46px;
  font-size: 24px;
  text-align: center;
  /*边框圆角*/
  border-radius:4px;
  border: 1px solid #c1c1c1;
  /*针对chrome的蓝色聚焦*/
  outline:none;
}
.border:focus,
.border:hover
{
  border: 1px solid #7b7c7d;
}
.error {
  font-family: "microsoft yahei", sans-serif;

  display: none;
}

/*logo*/
.logo {
  margin-top: 20px;
  /*20+50+80，定位输入框*/
  margin-bottom: 60px;
  width: 170px;
  height: 50px;
}

/*注册按钮*/
.sub {
  font-family: "microsoft yahei", sans-serif;

  margin: 0 150px;
  width: 300px;
  height: 50px;
  background-color: #03A9F4;
  /*字体颜色*/
  color: #ffffff;
  font-size: 24px;
  /*去掉按钮的凸起*/
  border:1px solid #c1c1c1;
  /*边框圆角*/
  border-radius:4px;
}